page {
  background: rgba(248, 248, 250, 1);
  font-size: 28px;
  line-height: 1.5;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  word-break: break-all;
  padding: 32px;
  box-sizing: border-box;
}
