.user-info {
  .user-box {
    display: flex;
    align-items: center;
    margin-bottom: 48px;

    .user-name {
      font-size: 36px;
      color: #000;
      margin-left: 32px;
    }
  }

  .user-btn {
    margin: 32px 0;
  }
}
